body {
    margin: 0;
    overflow-x: hidden;
}
header {
    margin: 4%; 
    display: flex;
    justify-content: space-between;
}
.skilled {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    margin-top: 6px;
    right: 74.05%;
    color: #13183F;
}
.get-started {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #13183F;
    width: 140px;
    border-radius: 28px;
    border: 0;
}
.part1 {
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-title {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    margin-block-end: 0.2em;
}
.description {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
}
.get-started-1 {   
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width: 167px;
    height: 56px;
    border-width: 0;
}
#mobile {
    width: 100%;
    display: block;
}
#tablet {
    display: none;
    position: absolute;
    top: -50px;
    right: -250px;
}
#desktop {
    display: none;
    position: absolute;
    top: -100px;
    right: -250px;
}
.back {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    position: relative;
}
.part2 {
    margin: 0 4%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.check-out {
    padding: 4%;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.order3 {
    height: auto;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-content: center;
}
.block {
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    margin: 40px 0;
}
.inner {
    margin-top: -28px;
    margin-left: 28px;
    margin-right: 28px;
}
.titles {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
}
.descr {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    min-width: 286px;
    height: 78px;
    text-align: justify;
}
.get-button {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    border: 0;
}
.part3 {
    background: #13183F;
    height: 120px;
    display: flex;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4%;
}
.skilled2 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    margin-top: 6px;
    right: 74.05%;
    color: #FFFFFF;
}
.get-started-2 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;
    Width: 140px;
    Height: 48px;
    border-width: 0;
}
@media only screen and (min-width: 768px) {
    #mobile {
        display: none;
    }
    #tablet {
        display: block;
        z-index: 1;
    }
    .part1 {
        max-width: 380px;
        display: flex;
        justify-content: flex-start;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .part2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 4%;
    }
    .order3 {
        margin-top: 40px;
        width: 339px;
        height: 259px;
    }
    .check-out {
        padding: 28px;
    }
    .block {
        width: 339px;
        height: 259px;
    }
}
@media only screen and (min-width: 1440px) {
    .skilled {
        font-size: 36px;
        line-height: 45px;        
    }
    .get-started {
        font-size: 18px;
        line-height: 28px;
        width: 167px;
        height: 56px;
        border-radius: 28px;
        z-index: 1;
    }
    .part1 {
        max-width: 480px;
        margin-bottom: 15%;
    }
    .main-title {
        font-size: 56px;
        line-height: 71px;
    }
    .description {
        font-size: 18px;
        line-height: 28px;
    }
    .get-started-1 {   
        font-size: 18px;
        line-height: 28px;
        width: 167px;
        height: 63px;
    }
    .back  {
        padding-left: 8%;
        padding-right: 8%;
    }
    .part1 {
        padding-left: 8%;
    }
    .part3 {
        padding-left: 8%;
        padding-right: 8%
    }
    header {
        padding-left: 8%;
        padding-right: 8%
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: block;
    }
    .order3 {
        margin-top: 40px;
        width: 339px;
        height: 322px;
    }
    .block {
        height: 322px;
    }
    .titles {
        font-size: 24px;
        line-height: 30px;
    }
    .descr {
        font-size: 18px;
        line-height: 28px;
        height: 112px;
    }
    .skilled2 {
        font-size: 35px;
        line-height: 45px;
    }
    .get-started-2 {
        font-size: 18px;
        line-height: 28px;
        width: 167px;
        height: 56px;
    }
    button.get-started:hover {
        background: #666CA3;
    }
    button.get-started-1:hover, button.get-started-2:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }
    a.get-button:hover {
        color: #FFA7C3;
    }

}